@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
    margin: 0%;
    padding: 0;
    background: #28225a;
    color: white;
    font-family: Roboto;
    text-align: center;
}


a {
    text-decoration: none;
    -webkit-user-drag: none;
}
header {
    margin: 30px;
}

.projects {
    margin: 50px;
}

.project {
    margin: 0px 20px;
    display: inline-block;
    padding: 10px;
    overflow: hidden;
    border-radius: 50%;
    --imageSize: 200px;
}

.project img {
    -webkit-user-drag: none;
    border: 5px solid white;
    border-radius: var(--imageSize);
    width: var(--imageSize);
    height: var(--imageSize);
}

.project:hover {
    cursor: pointer;
}