@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0%;
    padding: 0;
    background: #28225a;
    color: white;
    font-family: Roboto;
    text-align: center;
}

img {
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
    -webkit-user-drag: none;
}
header {
    margin: 30px;
}

.projects {
    margin: 50px;
}

.project {
    margin: 0px 20px;
    display: inline-block;
    border: 5px solid white;
    padding: 10px;
    overflow: hidden;
    border-radius: 50%;
}

.project:hover {
    cursor: pointer;
}